# Treat Unity asset files as binary to avoid diffs
*.asset binary

# Treat dynamically generated font files as binary
*.SDF.asset binary

# Prevent changes in FMOD cache files
*.FMODStudioCache.asset binary

# Prevent line-ending normalization for binary files
*.asset -text
*.SDF.asset -text

